body {
    font-family: 'UnifrakturCook';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #000000;
    background-image: url("Imagens/emoFundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input {
    font-family: 'UnifrakturCook';
    align-items: center;
}
div#resultado {
    margin-top: 20px;
    font-family: 'UnifrakturCook';
}

.calculadora {
    background-color: rgb(70, 0, 70);
    color: aliceblue;
    width: 500px;
    height: 590px;
    border: 10px solid rgb(29, 0, 29);
    border-radius: 15px;
    box-shadow: 0 0 25px rgb(70, 0, 70);
}
.calculadora h1 {
    text-align: center;
    margin-top: 40px;
    text-shadow:
        0 0 5px rgb(0, 0, 0),
        0 0 10px #000000,
        0 0 20px #000000;
}
input[type="number"] {
    width: 200px;
    padding: 10px;
    background-color: #1d1226;
    color: #9773a8;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-align: center;
}
input[type="button"] {
    width: 30px;
    padding: 10px;
    background-color: #1d1226;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-align: center;

}
input#buttonLimpar {
    width: 100px;
    padding: 10px;
    background-color: #1d1226;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-align: center;
    transition: 0.4s;
}
input#buttonLimpar:hover {
    transform: scale(0.9);
    background-color: #310144;
    border-color: #fbe7ff;
    box-shadow: 0 0 10px #fbf2ff;
    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #fcedff;
}
.numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.numeros input {
    width: 60px;
}
#resultado {
    width: 40px;
    height: 20px;
    margin: 20px auto;
    padding: 15px;

    background-color: #1d1226;
    border: 2px solid #fdfbfd;
    border-radius: 12px;

    color: #9773a8;
    text-align: center;
}