body {
    font-family: 'UnifrakturCook';
    align-items: center;
}
h1 {
    text-align: center;
}
input {
    font-family: 'UnifrakturCook';
    align-items: center;
}
div#resultado {
    margin-top: 20px;
    font-family: 'UnifrakturCook';
}